<html>
  <head>
    <title>McDuck</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="public/assets/styles.css" />
    <link rel="icon" type="image/x-icon" href="public/assets/favicon.ico" />
  </head>
  <body>
    <div class="navbar">
      <nav>
        <ul>
          <li><a href="/">Dashboard</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <h1>About</h1>
    </div>
    <div>
      This website was developed to get some analytics on your personal
      expenses.
    </div>
  </body>
</html>
