<!DOCTYPE html>
<html>
  {{template "head"}}
  <header>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
  </header>
  <body>
    {{template "navbar" .}}
    <div>
      <h1>Expense Report {{ .PrettyMonthYear }}</h1>
    </div>
    <div>
      {{ if .NoExpenses }}
      <div>
        <p>
          In this page you can analyse trends in your personal finances based on
          the expenses uploaded. You don't seem to have any expenses saved
          though, would you like to upload some to see the charts?
        </p>
      </div>
      <div>{{ template "_upload_expenses_form" }}</div>
      {{ else }}
      <div>
        <h2>Top Expense Categories</h2>
        <div style="display: flex; justify-content: center; gap: 10px">
          {{ range $e := .TopCategories }}
          <div class="terminal-card">
            <header>{{ $e.Category }}</header>
            <div>{{ $e.TotalAmount }} €</div>
          </div>
          {{ end }}
        </div>
      </div>
      <div>
        <div class="chart">
          <h2>Expenses per category</h2>
          <canvas id="categoriesChart"></canvas>
        </div>
        <div class="chart">
          <h2>Expenses per sub-category</h2>
          <canvas id="subcategoriesChart"></canvas>
        </div>
        <div class="chart">
          <h2>Month-over-month expenses per category</h2>
          <canvas id="momChart"></canvas>
        </div>
      </div>
      {{ end }}
    </div>
  </body>
  <script>
    Chart.defaults.font.familty = "monospace";
    Chart.defaults.font.size = 15;
    Chart.register(ChartDataLabels);

    Chart.defaults.set('plugins.datalabels', {
      display: 'auto',
      anchor: 'center',
      align: 'top',
      clamp: true,
    });

    const lastMonth = {{.PrettyMonthYear}};
    let labels = {{.Categories}};
    let amounts = {{.CategoryAmounts}};

    let data = {
      labels: labels,
      datasets: [
        {
          label: lastMonth,
          data: amounts,
          backgroundColor: [
            "rgba(255, 99, 132, 0.2)",
            "rgba(255, 159, 64, 0.2)",
            "rgba(255, 205, 86, 0.2)",
            "rgba(75, 192, 192, 0.2)",
            "rgba(54, 162, 235, 0.2)",
            "rgba(153, 102, 255, 0.2)",
            "rgba(201, 203, 207, 0.2)",
          ],
          borderColor: [
            "rgb(255, 99, 132)",
            "rgb(255, 159, 64)",
            "rgb(255, 205, 86)",
            "rgb(75, 192, 192)",
            "rgb(54, 162, 235)",
            "rgb(153, 102, 255)",
            "rgb(201, 203, 207)",
          ],
          borderWidth: 1,
        },
      ],
    };

    let config = {
      plugins: [ChartDataLabels],
      type: "bar",
      data: data,
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    };
    let myChart = new Chart(
      document.getElementById("categoriesChart"),
      config
    );
  </script>
  <script>
    labels = {{.SubCategories}};
    amounts = {{.SubCategoryAmounts}};

    data = {
      labels: labels,
      datasets: [
        {
          label: lastMonth,
          data: amounts,
          backgroundColor: [
            "rgba(255, 99, 132, 0.2)",
            "rgba(255, 159, 64, 0.2)",
            "rgba(255, 205, 86, 0.2)",
            "rgba(75, 192, 192, 0.2)",
            "rgba(54, 162, 235, 0.2)",
            "rgba(153, 102, 255, 0.2)",
            "rgba(201, 203, 207, 0.2)",
          ],
          borderColor: [
            "rgb(255, 99, 132)",
            "rgb(255, 159, 64)",
            "rgb(255, 205, 86)",
            "rgb(75, 192, 192)",
            "rgb(54, 162, 235)",
            "rgb(153, 102, 255)",
            "rgb(201, 203, 207)",
          ],
          borderWidth: 1,
        },
      ],
    };

    config = {
      plugins: [ChartDataLabels],
      type: "bar",
      data: data,
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    };
    myChart = new Chart(
      document.getElementById("subcategoriesChart"),
      config
    );
  </script>
  <script>
    labels = {{.MOMLabels}};
    amounts = {{.MOMData}};

    const datasets = [];
    {{range $category, $dataset := .MOMData}}
      datasets.push({
        label: {{$category}},
        data: {{$dataset}},
        fill: false,
        borderColor: `rgb(${Math.random() * 255}, ${Math.random() * 255}, ${Math.random() * 255})`,
        tension: 0.1,
      })
    {{end}}

    data = {
      labels: labels,
      datasets: datasets,
    };

    const plugin = {
      id: "increase-legend-spacing",
      beforeInit(chart) {
        // Get reference to the original fit function
        const originalFit = chart.legend.fit;

        // Override the fit function
        chart.legend.fit = function fit() {
          // Call original function and bind scope in order to use `this` correctly inside it
          originalFit.bind(chart.legend)();
          // Change the height as suggested in another answers
          this.height += 20;
        }
      }
    };

    config = {
      plugins: [
        ChartDataLabels,
        plugin
      ],
      type: "line",
      data: data,
      options: {
          layout:{
              padding:20
          }
        },
    };
    myChart = new Chart(
      document.getElementById("momChart"),
      config
    );
  </script>
</html>
