<!DOCTYPE html>
<html>
  {{template "head"}}
  <header>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
  </header>
  <body>
    {{template "navbar" .}}
    <div>
        <h1>Expense Report</h1>
    </div>
    <div>
      {{ if .NoExpenses }}
      <div>
        <p>
          In this page you can analyse trends in your personal finances based on
          the expenses uploaded. You don't seem to have any expenses saved
          though, would you like to upload some to see the charts?
        </p>
      </div>
      <div>{{ template "_upload_expenses_form" }}</div>
      {{ else }}
      <div>
        <h2>Top Categories {{ .PrettyMonthYear }}</h2>
        <div style="display: flex; justify-content: center; gap: 10px">
          {{ range $e := .TopCategories }}
          <div class="terminal-card">
            <header>{{ $e.Category }}</header>
            <div>{{ $e.TotalAmount }} €</div>
          </div>
          {{ end }}
        </div>
      </div>
      <div>
        <div class="chart">
          <h2>Expenses per category</h2>
          <canvas id="categoriesChart"></canvas>
        </div>
        <div class="chart">
          <h2>Expenses per sub-category</h2>
          <canvas id="subcategoriesChart"></canvas>
        </div>
      </div>
      {{ end }}
    </div>
  </body>
  <script>
    Chart.defaults.font.familty = "monospace";
    Chart.defaults.font.size = 15;
    Chart.register(ChartDataLabels);

    Chart.defaults.set('plugins.datalabels', {
      display: 'auto',
      anchor: 'center',
      align: 'top',
      clamp: true,
    });

    const lastMonth = {{.PrettyMonthYear}};
    let labels = {{.Categories}};

    let data = {
      labels: {{ .CategoriesChartData.Labels }},
      datasets: [
      {{ range $e := .CategoriesChartData.Datasets }}
        {
          label: {{$e.Label}},
          data: {{$e.Data}},
          backgroundColor: {{$e.BackgroundColour}},
          borderColor: {{$e.BorderColour}},
          hidden: {{$e.Hidden}},
          borderWidth: 1,
        },
        {{ end }}
      ],
    };

    let config = {
      plugins: [ChartDataLabels],
      type: "bar",
      data: data,
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    };
    let myChart = new Chart(
      document.getElementById("categoriesChart"),
      config
    );
  </script>
  <script>
    labels = {{.Categories}};

    data = {
      labels: {{ .SubCategoriesChartData.Labels }},
      datasets: [
      {{ range $e := .SubCategoriesChartData.Datasets }}
        {
          label: {{$e.Label}},
          data: {{$e.Data}},
          backgroundColor: {{$e.BackgroundColour}},
          borderColor: {{$e.BorderColour}},
          hidden: {{$e.Hidden}},
          borderWidth: 1,
        },
        {{ end }}
      ],
    };

    config = {
      plugins: [ChartDataLabels],
      type: "bar",
      data: data,
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    };
    myChart = new Chart(
      document.getElementById("subcategoriesChart"),
      config
    );
  </script>
</html>
