<!DOCTYPE html>
<html>
  {{template "head"}}
  <body>
    {{template "navbar" .}}
    <div>
      <h1>Expenses</h1>
    </div>
    <div>
      {{ if .HasExpenses }}
      <div style="padding-bottom: 20px">
        {{ template "_upload_expenses_form" }}
      </div>
      <div>
        <table>
          <thead>
            <tr>
              <th colspan="1">Date</th>
              <th colspan="1">Amount</th>
              <th colspan="1">Category</th>
              <th colspan="1">SubCategory</th>
            </tr>
          </thead>
          <tbody>
            {{range $e := .Expenses}}
            <tr>
              <td>
                <input
                  style="border: 0; outline: 0"
                  type="date"
                  name="date"
                  id="date-{{$e.Date}}"
                  value="{{$e.Date}}"
                />
              </td>
              <td>
                <input
                  style="border: 0; outline: 0"
                  type="number"
                  name="amount"
                  id="amount-{{$e.ID}}"
                  value="{{$e.Amount}}"
                  min="0"
                />
              </td>
              <td>
                <input
                  style="border: 0; outline: 0"
                  type="text"
                  name="category"
                  id="category-{{$e.ID}}"
                  value="{{$e.Category}}"
                />
              </td>
              <td>
                <input
                  style="border: 0; outline: 0"
                  type="text"
                  name="subcategory"
                  id="subcategory-{{$e.ID}}"
                  value="{{$e.Subcategory}}"
                />
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
      {{ else }}
      <div>
        <p>
          You can keep track of your personal finances and analyse trends to
          gather insights through the <a href="/dashboard">Dashboard</a>.
        </p>
        <p>
          In this page you can manage and browse the individual transactions.
          You don't seem to have any expenses saved, would you like to upload
          some?
        </p>
      </div>
      <div>{{ template "_upload_expenses_form" }}</div>
      {{ end }}
    </div>
    <script>
      const inputs = document.querySelectorAll("input");
      inputs.forEach((input) => {
        input.addEventListener("focus", (event) => {
          if (!input.parentElement.classList.contains("cell--selected")) {
            input.parentElement.classList.add("cell--selected");
          }
        });

        input.addEventListener("focusout", (event) => {
          if (input.parentElement.classList.contains("cell--selected")) {
            input.parentElement.classList.remove("cell--selected");
          }
        });

        input.addEventListener("change", (event) => {
          const [expenseField, expenseId] = input.id.split("-");

          const req = new Request(`/expenses/${expenseId}`, {
            method: "PATCH",
            headers: {
              Accept: "application/json",
            },
            body: JSON.stringify({ [expenseField]: event.target.value }),
          });

          fetch(req)
            .then((response) => {
              if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
              }
              return response.blob();
            })
            .then((response) => {
              console.log(response);
            });
        });
      });
    </script>
  </body>
</html>
