<html>
  {{template "head"}}
  <body>
    {{template "navbar" .}}
    <div>
      <h1>Expenses</h1>
    </div>
    <div>
      {{ if .HasExpenses }}
      <div style="padding-bottom: 20px">
        {{ template "_upload_expenses_form" }}
      </div>
      <div>
        <table>
          <thead>
            <tr>
              <th colspan="1">Date</th>
              <th colspan="1">Amount</th>
              <th colspan="1">Category</th>
              <th colspan="1">SubCategory</th>
            </tr>
          </thead>
          <tbody>
            {{range $e := .Expenses}}
            <tr>
              <td>{{$e.Date}}</td>
              <td>{{$e.Amount}}</td>
              <td>{{$e.Category}}</td>
              <td>{{$e.Subcategory}}</td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
      {{ else }}
      <div>
        <p>
          You can keep track of your personal finances and analyse trends to
          gather insights through the <a href="/dashboard">Dashboard</a>.
        </p>
        <p>
          In this page you can manage and browse the individual transactions.
          You don't seem to have any expenses saved, would you like to upload
          some?
        </p>
      </div>
      <div>{{ template "_upload_expenses_form" }}</div>
      {{ end }}
    </div>
  </body>
</html>
