<html>
  {{template "head"}}
  <body>
    {{template "navbar" .}}
    <div>
      <h1>Mcduck</h1>
    </div>
    <div class="f-left" style="margin-top: 20px">
      <h3 class="paragraph">What's this?</h3>
      <ul>
        <li class="paragraph">
          The simplest expense tracking solution built. Packing a good punch.
        </li>
        <li class="paragraph">Trusted by the person who built it.</li>
        <li class="paragraph">100% satisfaction.</li>
      </ul>
    </div>
    <div class="f-right" style="text-align: right">
      <h3 class="paragraph">How does it work?</h3>
      <ul>
        <li class="paragraph">Log in</li>
        <li class="paragraph">Upload your spreadsheet</li>
        <li class="paragraph">
          Understand your spending trends through our analytics dashboard
        </li>
      </ul>
    </div>
  </body>
</html>
