<html>
  {{template "head"}}
  <body>
    {{template "navbar" .}}
    <div>
      <h1>Mcduck</h1>
    </div>
    <div class="f-left" style="margin-top: 20px">
      <h3 class="paragraph">What's this?</h3>
      <dl>
        <dt class="paragraph">
          The simplest expense tracking solution built. Packing a good punch.
        </dt>
        <dt class="paragraph">Trusted by the person who built it.</dt>
        <dt class="paragraph">100% satisfaction.</dt>
      </dl>
    </div>
    <div class="f-right" style="text-align: right">
      <h3 class="paragraph">How does it work?</h3>
      <dl>
        <dt class="paragraph">Log in</dt>
        <dt class="paragraph">Upload your spreadsheet</dt>
        <dt class="paragraph">
          Understand your spending trends through our analytics dashboard
        </dt>
      </dl>
    </div>
  </body>
</html>
