<html>
  {{template "head"}}
  <body>
    {{template "navbar" .}}
    <div>
      <h1>Login</h1>
    </div>
    <div>
      <form method="POST" action="/login" id="form-login-user">
        <input
          id="email"
          name="email"
          type="email"
          placeholder="Enter your email"
        />
        <input
          id="password"
          name="password"
          type="password"
          placeholder="Write your password"
        />
        <button id="btn-login-account">Login</button>
      </form>
    </div>
  </body>
</html>
