{{define "navbar"}}
<div class="navbar">
  <nav>
    <ul>
      {{ if .User }}
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/expenses">Expenses</a></li>
      <li style="float: right; padding-right: 8px">
        <a href="/signout">Sign out</a>
      </li>
      <li style="float: right; padding-right: 15px">
        <div>Hello {{ .User }}!</div>
      </li>
      {{else}}
      <li><a href="/">Home</a></li>
      <li><a href="/live_demo">Live Demo</a></li>
      <li style="float: right; padding-right: 8px">
        <a href="/register">Signup</a>
      </li>
      <li style="float: right; padding-right: 8px">
        <a href="/login">Login</a>
      </li>
      {{end}}
    </ul>
  </nav>
</div>
{{end}}
