<!DOCTYPE html>
<html>
  {{template "head"}}
  <body>
    {{template "navbar" .}}
    <div>
      <h1>Register</h1>
    </div>
    <div class="login-form-container">
      <form class="login-form" id="form-create-user">
        <input
          class="login-form-element"
          id="email"
          name="email"
          type="email"
          placeholder="Enter your email"
        />
        <input
          class="login-form-element"
          id="password"
          name="password"
          type="password"
          placeholder="Create your password"
        />
        <button type="submit" class="login-form-element" id="btn-create-account">
          Register
        </button>
      </form>
    </div>
  </body>
  <script>
    ((url) => {
      var form = document.getElementById("form-create-user");
      form.onsubmit = async function (event) {
        event.preventDefault();

        var formData = new FormData(form);
        console.log(formData);

        const res = await fetch(url, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(Object.fromEntries(formData)),
        });

        const body = await res.json();
        document.cookie = `_mcduck_key=${body.token}; max-age=604800`;

        window.location.replace("/dashboard")

        return false;
      };
    })({{ .RegisterEndpointURL }})
  </script>
</html>
