<html>
  <head>
    <title>McDuck</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="public/assets/styles.css" />
    <link rel="icon" type="image/x-icon" href="public/assets/favicon.ico" />
  </head>
  <body>
    {{template "navbar" .}}
    <div>
      <h1>Signup</h1>
    </div>
    <div>
      <form method="POST" action="/register" id="form-create-user">
        <input
          id="email"
          name="email"
          type="email"
          placeholder="Enter your email"
        />
        <input
          id="password"
          name="password"
          type="password"
          placeholder="Create your password"
        />
        <button id="btn-create-account">Register</button>
      </form>
    </div>
  </body>
</html>
