<!DOCTYPE html>
<html>
  {{template "head"}}
  <body x-data="component()">
    {{template "navbar" .}}
    <div>
      <h1>Review Receipt</h1>
      <p>Make sure all the expenses have been broken down correctly for the receipt! Merge or delete them as needed.</p>
    </div>
    <div id="container" style="display: flex;">
      <div id="receipt" style="flex: 0 0 30%">
        <div>
          <img src="data:image/png;base64,{{.Receipt.Image}}" style="max-width: 90%" />
        </div>
      </div>
      <div id="expenses">
        <div>
          <h1>Expenses</h1>
        </div>
        <div>
          <button 
            style="margin-bottom: 10px; width: 15%" 
            class="btn btn-error f-right"
            x-on:click="deleteReceipt('{{.Receipt.ID}}')">
            Delete Receipt
          </button>

          <button
            style="margin-bottom: 10px; width: 15%" 
            class="btn btn-default f-right"
            x-on:click="addTableRow()">
            Add Expense
          </button>

          <button
            style="margin-bottom: 10px; width: 15%"
            class="btn btn-default f-right"
            x-on:click="mergeExpenses()">
            Merge Expenses
          </button>
        </div>
        <table id="expenses-table">
          <thead id="expenses-table-head">
            <tr>
              <th></th>
              <th colspan="1">Amount</th>
              <th colspan="1">Category</th>
              <th colspan="1">SubCategory</th>
              <th colspan="1">Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="expenses-table-body">
            {{range $e := .Expenses}}
            <tr>
              <td>
                <input type="checkbox" name="expense-checkbox" id="selected-{{$e.ID}}" unchecked />
              </td>
              <td>
                <input
                  style="border: 0; outline: 0"
                  type="number"
                  name="amount"
                  id="amount-{{$e.ID}}"
                  value="{{$e.Amount}}"
                  min="0"
                  placeholder="42,00"
                  x-on:focus="selectCell($el)"
                  x-on:focusout="deselectCell($el)"
                  x-on:change="updateRecord($el, '{{ $.Receipt.ID }}', '{{ $.Receipt.Date }}')"
                />
              </td>
              <td>
                <input
                  style="border: 0; outline: 0"
                  type="text"
                  name="category"
                  id="category-{{$e.ID}}"
                  value="{{$e.Category}}"
                  x-on:focus="selectCell($el)"
                  x-on:focusout="deselectCell($el)"
                  x-on:change="updateRecord($el, '{{ $.Receipt.ID }}', '{{ $.Receipt.Date }}')"
                />
              </td>
              <td>
                <input
                  style="border: 0; outline: 0"
                  type="text"
                  name="subcategory"
                  id="subcategory-{{$e.ID}}"
                  value="{{$e.Subcategory}}"
                  x-on:focus="selectCell($el)"
                  x-on:focusout="deselectCell($el)"
                  x-on:change="updateRecord($el, '{{ $.Receipt.ID }}', '{{ $.Receipt.Date }}')"
                />
              </td>
              <td>
                <input
                  style="border: 0; outline: 0"
                  type="text"
                  name="description"
                  id="description-{{$e.ID}}"
                  value="{{$e.Description}}"
                  x-on:focus="selectCell($el)"
                  x-on:focusout="deselectCell($el)"
                  x-on:change="updateRecord($el, '{{ $.Receipt.ID }}', '{{ $.Receipt.Date }}')"
                />
              </td>
              <td>
                <div style="max-width: 25px; max-height: 25px; min-width: 25px;">
                  <a
                    style="display: block"
                    id="delete-expense-{{$e.ID}}"
                    href="#"
                    x-on:click="deleteExpense('{{$e.ID}}')"
                  >
                    <!-- Rubbish bin SVG-->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                      />
                    </svg>
                  </a>
                </div>
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script>
    function component() {
      const throwOnError = (response) => {
        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response;
      };

      const doRequest = (req) => fetch(req).then(throwOnError);

      const updateExpense = (id, expenseField, value) =>
        doRequest(
          new Request(`/expenses/${id}`, {
            method: "PATCH",
            headers: { Accept: "application/json" },
            body: JSON.stringify({ [expenseField]: value }),
          })
        );

      const createExpenseForReceipt = (date, amount, receiptId) =>
        doRequest(
          new Request("/expenses", {
            method: "PUT",
            headers: { Accept: "application/json" },
            body: JSON.stringify({ date: date, amount: amount, receipt_id: receiptId}),
          })
        )

      return {
        deleteExpense: (id) => 
          doRequest(new Request(`/expenses/${id}`, { method: "DELETE" })).then(() => window.location.reload()),

        deleteReceipt: (id) =>
          doRequest(new Request(`/receipts/${id}`, { method: "DELETE" })).then(() => window.location.replace('/receipts')),

        mergeExpenses: () => {
          const nodeList = document.getElementsByName('expense-checkbox')
          const expensesToMerge = Array.from(nodeList).reduce((acc, checkbox) => {
            if (checkbox.checked) {
              const id = checkbox.id.split("-")[1] 
              return acc.concat([parseInt(id)])
            }

            return acc
          }, [])

          const receiptId = window.location.pathname.split("/")[2]

          doRequest(
            new Request("/expenses/merge", {
              method: "POST",
              headers: { Accept: "application/json" },
              body: JSON.stringify({ receipt_id: receiptId, expense_ids: expensesToMerge }),
            })
          ).then(() => window.location.reload(true))
        },

        selectCell: (input) => {
          if (!input.parentElement.classList.contains("cell--selected")) {
            input.parentElement.classList.add("cell--selected");
          }

          if (input.parentElement.classList.contains("cell--pending")) {
            input.parentElement.classList.remove("cell--pending");
          }
        },

        deselectCell: (input) => {
          if (input.parentElement.classList.contains("cell--selected")) {
            input.parentElement.classList.remove("cell--selected");
          }

          const inputIsRequiredAndEmpty =
            (input.value === null || input.value === "") &&
            (input.id.includes("date") || input.id.includes("amount"));

          if (inputIsRequiredAndEmpty) {
            input.parentElement.classList.add("cell--pending");
          }
        },

        updateRecord: (input, receiptId, receiptDate) => {
          const [expenseField, expenseId, ts] = input.id.split("-");
          if (expenseId === "new") {
            const amount = document.getElementById(`amount-new-${ts}`).value;
            if (amount) {
              createExpenseForReceipt(receiptDate, amount, receiptId)
                .then((res) => res.json())
                .then(({ id: id }) => {
                  // Update the row to contain the ID of the newly created expense.
                  document.getElementById(`selected-new-${ts}`).id = `selected-${id}`;
                  document.getElementById(`amount-new-${ts}`).id = `amount-${id}`;
                  document.getElementById(`category-new-${ts}`).id = `category-${id}`;
                  document.getElementById(`subcategory-new-${ts}`).id = `subcategory-${id}`;
                  document.getElementById(`description-new-${ts}`).id = `description-${id}`;
                });
            }
          } else {
            updateExpense(expenseId, expenseField, event.target.value);
          }
        },

        addTableRow: () => {
          // NOTE: Programatically speaking, this is broken... but it's good
          // enough as long as humans use the UI.
          //
          // The reason is that if you click the button within less than a
          // millisecond, two rows with the same ID will be created.
          const timestamp = Date.now();
          const rowHTML = `
                <td>
                  <input 
                    style="border: 0; outline: 0"
                    type="checkbox" 
                    name="expense-checkbox" 
                    id="selected-new-${timestamp}" unchecked />
                </td>
                <td class="cell--pending">
                  <input
                    style="border: 0; outline: 0"
                    type="number"
                    name="amount"
                    id="amount-new-${timestamp}"
                    min="0"
                    placeholder="42,00"
                    x-on:focus="selectCell($el)"
                    x-on:focusout="deselectCell($el)"
                    x-on:change="updateRecord($el, '{{ .Receipt.ID }}', '{{ .Receipt.Date }}')"
                  />
                </td>
                <td>
                  <input
                    style="border: 0; outline: 0"
                    type="text"
                    name="category"
                    id="category-new-${timestamp}"
                    x-on:focus="selectCell($el)"
                    x-on:focusout="deselectCell($el)"
                    x-on:change="updateRecord($el, '{{ .Receipt.ID }}', '{{ .Receipt.Date }}')"
                  />
                </td>
                <td>
                  <input
                    style="border: 0; outline: 0"
                    type="text"
                    name="subcategory"
                    id="subcategory-new-${timestamp}"
                    x-on:focus="selectCell($el)"
                    x-on:focusout="deselectCell($el)"
                    x-on:change="updateRecord($el, '{{ .Receipt.ID }}', '{{ .Receipt.Date }}')"
                  />
                </td>
                <td>
                  <input
                    style="border: 0; outline: 0"
                    type="text"
                    name="description"
                    id="description-new-${timestamp}"
                    x-on:focus="selectCell($el)"
                    x-on:focusout="deselectCell($el)"
                    x-on:change="updateRecord($el, '{{ .Receipt.ID }}', '{{ .Receipt.Date }}')"
                  />
                </td>
          `;
          const rowNode = document.createElement("tr");
          rowNode.innerHTML = rowHTML;

          const table = document.getElementById("expenses-table-body");
          table.prepend(rowNode);
        },
      }
    }
  </script>
</html>
