.navbar li {
  display: inline;
}

.chart {
  margin: 20px;
  font-family: monospace;
}

.paragraph {
  margin: 20px;
}

.f-right {
  float: right;
}

.f-left {
  float: left;
}

.login-form-container {
  border: black;
  border-style: solid;
  padding: 10px;
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

.login-form {
  margin: auto;
  padding: 25px;
}

.login-form-element {
  margin-top: 10px;
  height: 50px;
  width: 100%;
  font-family: monospace;
}

@media (min-width: 961px) {
  /* tablet */
  body {
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1025px) {
  /* laptop */
  body {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media (min-width: 1281px) {
  /* desktop */
  body {
    padding-left: 300px;
    padding-right: 300px;
  }
}

.cell--selected {
  border: 3px solid #1a95e0 !important;
}
