# Credentials for database spinned up in docker-compose.yml
export PGUSER=root
export PGPASSWORD=password
export PGDATABASE=mcduck_db
export PGHOST=localhost
export PGPORT=5431

export OTEL_EXPORTER_OTLP_ENDPOINT=179a673634434f80a47b5f70a137ea24.apm.us-central1.gcp.cloud.es.io:443
export OTEL_EXPORTER_OTLP_HEADERS=Authorization=Bearer ih1At6THjsYkT4ojZF
export OTEL_LOGS_EXPORTER=otlp
export OTEL_METRICS_EXPORTER=otlp
export OTEL_RESOURCE_ATTRIBUTES="service.name=<app-name>,service.version=<app-version>,deployment.environment=production"
